ul.breadcrumb
	li
		a(href='#') In&iacute;cio
		span.divider /
	li
		a(href='#') S&atilde;o Paulo
		span.divider /
	li
		a(href='#') Guaruj&aacute;
		span.divider /
	li.active
		a(href='#') Imigrantes
		span.divider /
		
h3 C&acirc;meras de S&atilde;o Paulo para o Guaruj&aacute; via Imigrantes

ul#cameras
	- each camera in cameras
		li
			h5= camera.title
			div
				a(href=baseUrl+camera.image)
					img(src=baseUrl+camera.image, alt=camera.title, title=camera.title) 