h3 C&acirc;meras de S&atilde;o Paulo para o Guaruj&aacute; via Imigrantes

ul#cameras
	- each camera in cameras
		li
			h5= camera.title
			div
				a(href=baseUrl+camera.image)
					img(src=baseUrl+camera.image, alt=camera.title, title=camera.title) 